<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>





{% include 'section/navigation.twig' %}
{% block body %}{% endblock %}



<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>