{% extends 'base.twig' %}

{% block body %}
<div class="container">
    <h1 class="mb-3 mt-3">Последние публикации</h1>
    <div class="row">
        <div class="col-md-9">
            {% include 'section/posts.twig' with posts %}
            <div class="row">
                <a href="{{ url('blog') }}">Посмотреть все</a>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'section/about.twig' %}
        </div>
    </div>
</div>
{% endblock %}